@import "/src/assets/styles/variables";
@import "/src/assets/styles/mixins";

.header {
  @include border-bottom-main;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-color-grey;

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $height-header;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

    @media (max-width: 568px) {
      justify-content: center;
    }
  }

  &-title {
    text-align: center;
    font-size: $font-size-title;
    color: $color-light;
    user-select: none;

    @media (max-width: 568px) {
      display: none;
    }
  }
}

.rates {
  @include border-bottom-green;
  border-bottom-width: 3px;
  display: flex;
  height: 50px;
  user-select: none;

  &-item {
    strong {
      font-size: $font-size-big;
      color: $color-light;

      @media (max-width: 568px) {
        font-size: $font-size-medium;
      }
    }

    font-size: $font-size-medium;
    color: $color-light-darken;

    &:last-child {
      margin-left: 30px;
    }
  }
}
