<div class="currency-converter">
  <div class="col">
    <input
      inputmode="numeric"
      placeholder="200.00"
      type="number"
      [ngModel]="convertedFromValue"
      (ngModelChange)="onConvertedFromValueChange($event)"
    />
    <select
      [ngModel]="convertedFrom"
      (ngModelChange)="convertedFrom = $event; onCurrencyChange()"
    >
      <option *ngFor="let currency of supportedCurrencies" [value]="currency">
        {{ currency }}
      </option>
    </select>
  </div>
  <i
    class="material-icons swap-currencies-btn"
    (click)="onSwapCurrenciesBtnClick()"
    >swap_horiz</i
  >
  <div class="col">
    <input
      inputmode="numeric"
      placeholder="200.00"
      type="number"
      [ngModel]="convertedToValue"
      (ngModelChange)="onConvertedToValueChange($event)"
    />
    <select
      [ngModel]="convertedTo"
      (ngModelChange)="convertedTo = $event; onCurrencyChange()"
    >
      <option *ngFor="let currency of supportedCurrencies" [value]="currency">
        {{ currency }}
      </option>
    </select>
  </div>
</div>
