@import "/src/assets/styles/variables";
@import "/src/assets/styles/mixins";

.currency-converter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 700px;
  border-radius: 4px;
  margin: 150px auto 0;
  padding: 50px 30px;
  background-color: $background-color-grey;
}

.swap-currencies-btn {
  color: $color-light-darken;
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}

.col {
  display: flex;
  flex-wrap: wrap;
}
